.fixie-spacer
.container.grid.spawn
	.grid-sizer
	.gutter-sizer
	.grid-item.w2.h2.project-sa(data-page="projects", data-order="0")
		div Success Academy

	.grid-item.w1.h1.project-artnet(data-page="projects", data-order="4")
		div Artnet

	.grid-item.w1.h2.project-rms(data-page="projects", data-order="5")
		div Rafael Macho Studio

	.grid-item.w1.h1.is-hidden

	.grid-item.w1.h1.project-clear.shifty(data-page="projects", data-order="1")
		div Clear

	.grid-item.w2.h1.project-ihny(data-page="projects", data-order="2")
		div I Heard NY

	.grid-item.w1.h1.is-hidden

	.grid-item.w1.h1.project-vse(data-page="projects", data-order="3")
		div VSE