*,*:before,*:after,*::before,*::after{*behavior:url("js/vendor/boxsizing.htc");-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;-webkit-backface-visibility:hidden}
html{overflow-y:scroll;overflow-x:hidden;font-size:62.5%;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;font-smoothing:antialiased;font-smooth:always}
img,video,audio,embed,object,input,iframe,svg{width:100%;max-width:100%}
*:focus{outline:0}
svg{cursor:pointer}
a{text-shadow:none}
body,html{font-family:"Trim Mono Light","Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",'Bitstream Vera Sans Mono', Consolas, Courier, monospace;font-weight:200;font-style:normal;color:#555}
.border{background-color:#555;position:fixed;z-index:2000;-webkit-transform:none;}
@media screen and (max-width: 640px){.border{display:none}
}.border.top,.border.bottom{height:2rem;width:100%}
.border.left,.border.right{width:2rem;height:100%}
.border.top{top:0}
.border.bottom{bottom:0}
.border.left{left:0}
.border.right{right:0}
h1,h2,h3,h4,h5,h6{font-family:"Soleil Extra Bold",Futura,'Century Gothic',Verdana,sans-serif;font-weight:800;font-style:normal}
h1{font-size:40px;font-size:2.5rem;cursor:pointer;text-transform:uppercase;display:inline-block;}
@media screen and (max-width: 1024px){h1 .show{display:none}
}@media screen and (min-width: 1024px){h1 span{display:inline-block;-webkit-transition:width .2s linear,opacity .1s linear;transition:width .2s linear,opacity .1s linear}
h1.at-top .show{opacity:0;width:0 !important;-webkit-transition:width .2s linear,opacity .1s linear;transition:width .2s linear,opacity .1s linear}
h1.scrolling .show{opacity:1;display:inline-block}
h1.scrolling .hide{opacity:0;width:0 !important;-webkit-transition:width .2s linear,opacity .1s linear;transition:width .2s linear,opacity .1s linear}
}h3{font-size:40px;font-size:2.5rem}
p{font-size:21px;font-size:1.3rem;font-family:"Trim Mono Light","Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",'Bitstream Vera Sans Mono', Consolas, Courier, monospace;font-weight:200;font-style:normal;line-height:1.6}
::selection{background:#fe9088;color:#fff}
::-moz-selection{background:#fe9088;color:#fff}
.panel ::selection{background:#fff;color:#fe9088}
.panel ::-moz-selection{background:#fff;color:#fe9088}
[class*='fixed']{position:fixed;-webkit-transform:none;transform:none;-webkit-transition:-webkit-transform .5s ease;transition:transform .5s ease;z-index:400}
.fixed-center{top:50%}
.fixed-left{left:6rem}
.fixed-right{right:6rem}
.fixed-top{top:5rem}
.fixed-bottom{bottom:5rem}
main{background-color:#fff;margin-bottom:10rem;}
@media all and (max-width: 640px){main{margin:5rem auto}
}.view-main{margin:0 3rem;-webkit-transform:translateY(0);transform:translateY(0);-webkit-transition:all .5s ease 0s;transition:all .5s ease 0s;}
.view-main.is-loading{opacity:0;-webkit-transform:translateY(10rem);transform:translateY(10rem);-webkit-transition:all .5s ease 0s;transition:all .5s ease 0s}
@media all and (max-width: 768px){.view-main{padding-bottom:10rem;margin:0 3rem}
}@media all and (max-width: 640px){.view-main{padding-bottom:8rem;margin:0 2rem}
}@media all and (max-width: 420px){.view-main{padding-top:6rem}
}.container{margin:0 auto;max-width:144rem;}
@media screen and (max-width: 1620px){.container{margin:0 6rem}
}@media all and (max-width: 640px){.container{margin:0}
}.button{display:inline-block;background-color:#555;border:.1rem solid #fff;color:#fff;font-family:"Soleil Extra Bold",Futura,'Century Gothic',Verdana,sans-serif;font-weight:800;font-style:normal;padding:1.15rem 1.35rem;text-transform:uppercase;font-weight:bold;font-size:16px;font-size:1rem;cursor:pointer;letter-spacing:.1rem;}
.button:hover{border:.1rem solid #fff;background-color:#fe9088;color:#fff}
@media screen and (max-width: 640px){.header-main{z-index:9999;background-color:#fff;height:5rem;width:100%;position:fixed;top:0;border-bottom:.3rem solid #555}
}.header-main h1:hover{color:#fe9088}
@media screen and (max-width: 1620px){.header-main h1{margin-left:3rem}
}@media screen and (max-width: 640px){.header-main h1{top:1.1rem;left:0;display:inline-block}
}.nav-main{-webkit-transition:-webkit-transform .5s ease;transition:transform .5s ease;}
.nav-main button{background:none;background-color:transparent;border:none;color:#555;font-family:"Soleil Extra Bold",Futura,'Century Gothic',Verdana,sans-serif;font-weight:800;font-style:normal;font-size:30px;font-size:1.85rem;cursor:pointer;text-decoration:none;text-transform:uppercase;z-index:9999;}
.nav-main button:hover{color:#fe9088}
.nav-main button:nth-child(1){-webkit-transform:translateX(-4.45rem) rotate(90deg);transform:translateX(-4.45rem) rotate(90deg)}
.nav-main button:nth-child(2){-webkit-transform:translateX(4.45rem) rotate(-90deg);transform:translateX(4.45rem) rotate(-90deg)}
@media screen and (max-width: 640px){.nav-main{display:none}
}.back-top-container{opacity:0;-webkit-transition:all .5s ease;transition:all .5s ease;}
@media screen and (max-width: 1620px){.back-top-container{margin-left:2.8rem}
}@media screen and (max-width: 640px){.back-top-container{bottom:2rem;left:0;width:100%;text-align:center;margin-left:0}
}.back-top{background:none;background-color:transparent;border:none;color:#555;font-family:"Soleil Extra Bold",Futura,'Century Gothic',Verdana,sans-serif;font-weight:800;font-style:normal;font-size:30px;font-size:1.85rem;cursor:pointer;text-decoration:none;text-transform:uppercase;z-index:9999;}
.back-top:hover{color:#fe9088}
.footer-is-showing .back-top-container{bottom:3rem;-webkit-transition:all .5s ease;transition:all .5s ease}
.footer-is-showing .back-top{color:#fff;z-index:9999;}
.footer-is-showing .back-top:hover{color:#fe9088}
.mobile-menu{display:none;background-color:#555;}
.mobile-menu:hover,.mobile-menu:active{background-color:#fe9088}
.mobile-menu svg{-webkit-transform:scale(.6) rotate(180deg);transform:scale(.6) rotate(180deg);-webkit-transform-origin:50%;transform-origin:50%;-webkit-transition:-webkit-transform .5s ease;transition:transform .5s ease;}
.mobile-menu svg path{fill:#fff}
@media screen and (max-width: 640px){.mobile-menu{display:inline-block;height:4.7rem;width:5rem;padding:1rem;position:absolute;right:0;z-index:9999}
}.panel-is-open .mobile-menu svg{-webkit-transform:scale(.6) rotate(0);transform:scale(.6) rotate(0);-webkit-transform-origin:50%;transform-origin:50%;-webkit-transition:-webkit-transform .5s ease;transition:transform .5s ease}
.container{margin-bottom:3rem;}
@media all and (max-width: 1024px){.container{margin-bottom:2%}
}@media all and (max-width: 640px){.container{margin-bottom:0}
}.grid-sizer,.grid-item{width:32%;}
@media all and (max-width: 1024px){.grid-sizer,.grid-item{width:46%}
}@media all and (max-width: 640px){.grid-sizer,.grid-item{width:100%}
}.gutter-sizer{width:1%;}
@media all and (max-width: 1024px){.gutter-sizer{width:2%}
}.grid-item{background-color:#f5f5f5;float:left;display:inline-block;vertical-align:top;cursor:pointer;margin:.5% auto;}
@media all and (max-width: 1024px){.grid-item{margin:0 auto}
}.grid-item.shifty{-webkit-transform:translateX(-3%);transform:translateX(-3%)}
.grid-item.w2{width:64%}
@media all and (max-width: 1024px){.grid-item.w1,.grid-item.w2{width:46%}
.grid-item.shifty{-webkit-transform:translateX(0);transform:translateX(0)}
}@media all and (max-width: 640px){.grid-item.w1,.grid-item.w2{width:100%;position:relative !important;left:0 !important;top:0 !important;margin:8% 0}
}.grid-item.h1{height:24rem}
.grid-item.h2{height:48rem}
@media all and (max-width: 1024px){.grid-item.h1,.grid-item.h2{height:24rem}
}.grid-item.is-hidden{opacity:0;transform:scale(.001);}
@media all and (max-width: 1024px){.grid-item.is-hidden{display:none}
}.grid-item:hover{box-shadow:15px 17px 0 #555;}
.grid-item:hover > div{opacity:1}
.grid-item img{display:block}
.grid-item > div{position:absolute;top:5rem;left:-3rem;color:#555;font-size:24px;font-size:1.5rem;opacity:0;font-family:"Soleil Extra Bold",Futura,'Century Gothic',Verdana,sans-serif;font-weight:800;font-style:normal;text-transform:uppercase;background-color:#fff;padding:1rem 2rem;border:.3rem solid #555;cursor:pointer;}
@media all and (max-width: 768px){.grid-item > div{top:2rem;left:1rem}
}.grid .project-ihny{background:#f5f5f5 url("../img/ihny.min.png") no-repeat;background-size:auto 100%;background-position:0 100%;}
@media screen and (max-width: 1330px){.grid .project-ihny{background-position:50% 100%;background-size:100% auto}
}.grid .project-rms{background:#f5f5f5 url("../img/rms.min.png") no-repeat;background-size:auto 100%;background-position:center}
.grid .project-artnet{background:#f5f5f5 url("../img/artnet.min.png") no-repeat;background-size:cover;background-position:center}
.grid .project-sa{background:#f5f5f5 url("../img/sa.min.png") no-repeat;background-size:auto 100%;background-position:center bottom;}
@media screen and (max-width: 1380px){.grid .project-sa{background-size:auto 90%}
}@media screen and (max-width: 1024px){.grid .project-sa{background-size:90% auto}
}@media screen and (max-width: 640px){.grid .project-sa{background-size:auto 90%}
}.grid .project-clear{background:#f5f5f5 url("../img/clear.min.png") no-repeat;background-size:auto 100%;background-position:right bottom}
.grid .project-vse{background:#f5f5f5 url("../img/vse.min.png") no-repeat;background-size:100% auto;background-size:auto 100%;background-position:center;}
@media screen and (max-width: 1024px){.grid .project-vse{background-size:auto 90%}
}.panel{background-color:#fe9088;color:#fff;position:fixed;left:0;top:0;height:100%;width:100%;z-index:9998;overflow-y:auto;-webkit-transition:-webkit-transform .55s eas-in-sine;transition:transform .55s eas-in-sine;-webkit-transform:translateX(-60rem);transform:translateX(-60rem);}
@media screen and (min-width: 627px){.panel{max-width:52rem}
}@media screen and (max-width: 627px){.panel{width:calc(100% - 3rem)}
}@media screen and (max-width: 360px){.panel p{font-size:16px;font-size:1rem}
}.panel .social-set a{display:inline-block;width:3.5rem;height:3.5rem;margin:3.5rem .5rem 0;padding:.75rem;background-color:#fff;}
.panel .social-set a:nth-child(1){margin-left:0}
.panel .social-set a svg path,.panel .social-set a svg circle{fill:#fe9088}
.panel a{color:#fff;border-bottom:2px solid #fff;text-decoration:none}
.activate-panel{cursor:pointer;}
.activate-panel:active .panel-close{-webkit-transform:scale(.75);transform:scale(.75);transition:-webkit-transform .15s ease;transition:transform .25s ease}
.panel-full-width{position:relative}
.panel-close{width:2rem;height:2rem;position:absolute;right:43rem;top:5.3rem;transition:all .5s eas-in-sine .05s;}
@media screen and (max-width: 640px){.panel-close{display:none}
}.panel-content{margin:4rem 8rem;-webkit-transform:translateX(-15rem);transform:translateX(-15rem);}
.panel-content:nth-of-type(2){margin-top:15rem}
@media screen and (max-width: 640px){.panel-content{margin:2rem 3rem 2rem 5.5rem;-webkit-transform:translateX(0);transform:translateX(0);}
.panel-content:nth-of-type(1){margin-top:10rem !important}
}.panel img{opacity:0;-webkit-transform:translateX(-15rem);transform:translateX(-15rem);-webkit-transition:all .5s eas-in-sine;transition:all .5s eas-in-sine;display:block;}
@media screen and (max-width: 640px){.panel img{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}
}.view-main,.border.left,.border.right,.header-main h1{-webkit-transform:none;transform:none;-webkit-transition:-webkit-transform .5s eas-in-sine;transition:transform .5s eas-in-sine}
.panel-is-open .view-main,.panel-is-open .border.left,.panel-is-open .border.right,.panel-is-open .header-main h1{-webkit-transform:translateX(50.3rem);transform:translateX(50.3rem);-webkit-transition:-webkit-transform .5s cubic-bezier(.075,.82,.165,1);transition:transform .5s cubic-bezier(.075,.82,.165,1)}
.panel-is-open button.fixed-left,.panel-is-open button.fixed-right{-webkit-transition:-webkit-transform .5s cubic-bezier(.075,.82,.165,1);transition:transform .5s cubic-bezier(.075,.82,.165,1)}
.panel-is-open button.fixed-left{-webkit-transform:translateX(45.55rem) rotate(90deg);transform:translateX(45.55rem) rotate(90deg)}
.panel-is-open button.fixed-right{-webkit-transform:translateX(45.55rem) rotate(-90deg);transform:translateX(45.55rem) rotate(-90deg)}
.panel-is-open .panel{-webkit-transform:translateX(-1.7rem);transform:translateX(-1.7rem);-webkit-transition:-webkit-transform .45s cubic-bezier(.075,.82,.165,1);transition:transform .45s cubic-bezier(.075,.82,.165,1);}
@media screen and (max-width: 640px){.panel-is-open .panel{border-right:.3rem solid #fff}
.panel-is-open .panel p{font-size:10px}
}.panel-is-open .panel-close{right:7rem;-webkit-transform:rotate(720deg);transform:rotate(720deg);-webkit-transition:all .45s cubic-bezier(.075,.82,.165,1);transition:all .45s cubic-bezier(.075,.82,.165,1);}
.panel-is-open .panel-close:hover{-webkit-transform:rotate(540deg) !important;transform:rotate(540deg) !important;-webkit-transition:all .45s linear;transition:all .45s linear}
.panel-is-open .panel-content{-webkit-transform:translateX(0);transform:translateX(0);}
.panel-is-open .panel-content:nth-of-type(1){margin-top:15rem;-webkit-transition:-webkit-transform .35s cubic-bezier(.215,.61,.355,1) .15s;transition:transform .35s cubic-bezier(.215,.61,.355,1) .15s}
.panel-is-open .panel-content:nth-of-type(3){-webkit-transition:-webkit-transform .35s cubic-bezier(.215,.61,.355,1) .25s;transition:transform .35s cubic-bezier(.215,.61,.355,1) .25s}
.panel-is-open .panel img{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);-webkit-transition:all .3s cubic-bezier(.075,.82,.165,1);transition:all .3s cubic-bezier(.075,.82,.165,1)}
.panel-is-open .panel-overlay{-webkit-transform:translate(0,0);transform:translate(0,0);opacity:1;z-index:500;-webkit-transition:all .5s cubic-bezier(.075,.82,.165,1);transition:all .5s cubic-bezier(.075,.82,.165,1)}
@media screen and (max-width: 640px){.panel-is-open .header-main h1{-webkit-transform:none;transform:none}
}.panel-overlay{background-color:rgba(255,255,255,0.95);height:100%;-webkit-transform:translate(0,-250rem);transform:translate(0,-250rem);-webkit-transition:all .5s ease;transition:all .5s ease;opacity:0;overflow:hidden;position:fixed;width:100%;z-index:-100;}
.panel-overlay a{position:fixed;bottom:5.5rem;left:5.5rem;display:inline-block;text-decoration:none;color:#555;padding-bottom:.3rem;border-bottom:.3rem solid #555;}
.panel-overlay a:nth-child(1){-webkit-transform:translate(50rem,-15rem);transform:translate(50rem,-15rem)}
.panel-overlay a:nth-child(2){-webkit-transform:translate(50rem,-10rem);transform:translate(50rem,-10rem)}
.panel-overlay a:nth-child(3){-webkit-transform:translate(50rem,-5rem);transform:translate(50rem,-5rem)}
.panel-overlay a:nth-child(4){-webkit-transform:translate(50rem,0);transform:translate(50rem,0)}
.panel-overlay a:visited{color:#555}
.panel-overlay a:hover{color:#fe9088;border-bottom:.3rem solid #fe9088}
@media screen and (max-width: 640px){.panel-overlay a:nth-child(1){-webkit-transform:translate(0,13.5rem) rotate(90deg);transform:translate(0,13.5rem) rotate(90deg);bottom:auto;left:auto;right:-2.4rem;top:0;border-bottom:none;}
.panel-overlay a:nth-child(1):hover{border-bottom:none}
.panel-overlay a:nth-child(n+2){display:none}
}.projects,.project{position:relative}
.project{display:-webkit-flex;display:flex;}
.project:first-of-type{margin-top:0}
.project:last-of-type{margin-bottom:0}
@media all and (max-width: 767px){.project{display:block}
}.project-desc{width:65rem;margin-right:5%;position:relative;transition:margin .2s ease 0s;}
@media all and (max-width: 1940px){.project-desc{width:39.55rem}
}@media screen and (max-width: 1310px){.project-desc{width:75%}
}@media all and (max-width: 850px){.project-desc{width:100%}
}@media screen and (max-width: 850px){.project-desc{padding-bottom:5rem}
}.project-desc .button{margin-top:2rem}
.project-imgs{width:100%;max-width:90rem;transition:margin .2s ease 0s;padding:5rem;background-color:#f5f5f5;}
.project-imgs .loading-img{width:3rem;height:3rem;margin:3rem auto;display:block;}
.project-imgs .loading-img path{fill:#fff}
@media all and (max-width: 767px){.project-imgs{padding:1rem}
}.project-imgs img{opacity:0;transition:opacity .5s ease}
.project-img{margin-top:5rem;margin-bottom:5rem;}
.project-img:first-of-type{margin-top:0}
.project-img:last-of-type{margin-bottom:0}
.fixie{position:relative;max-width:52rem;}
@media all and (max-width: 768px){.fixie{max-width:100%;position:static !important}
}.fixie hr{width:9.19167rem;border:none;border-bottom:3px solid #555;margin-bottom:2rem}
@media all and (min-width: 640px){.fixie hr{display:none}
}@media all and (max-width: 768px){.project:first-of-type .fixie hr{display:none}
}.fixie-spacer{height:12rem;}
@media all and (max-width: 768px){.fixie-spacer{height:5rem}
}@media all and (max-width: 640px){.fixie-spacer:first-of-type{height:.1rem}
}.footer-main{width:100%;position:fixed;height:9rem;bottom:0;color:#fff;background-color:transparent;}
.footer-main .back-top{color:#fff;text-align:center;margin-top:3.75rem;display:block}
@media all and (max-width: 768px){.footer-main{background-color:#555;z-index:-1000}
}.footer-is-showing .footer-main{background-color:#555;-webkit-transition:all .2s ease;transition:all .2s ease}
.social svg path,.social svg circle{fill:#fff}
.social a{width:3rem;height:3rem;padding:.85rem;margin:0 .35rem;display:inline-block;background-color:#555;}
.social a:hover{background:#fe9088}
.footer-is-showing .social{z-index:9999;bottom:3rem;-webkit-transition:all .5s ease;transition:all .5s ease;}
.footer-is-showing .social a{background:#fff;}
.footer-is-showing .social a svg path,.footer-is-showing .social a svg circle{fill:#555}
.footer-is-showing .social a:hover{background:#fe9088;}
.footer-is-showing .social a:hover svg path,.footer-is-showing .social a:hover svg circle{fill:#fff}
.ajax-projects.markers-hidden button[data-page='projects']{-webkit-transition:margin .3s ease;transition:margin .3s ease;margin-top:0}
.ajax-projects.markers-visible button[data-page='projects']{-webkit-transition:margin .3s ease;transition:margin .3s ease;margin-top:-6.5rem}
.ajax-projects.markers-visible .project-markers{opacity:1;-webkit-transition:opacity .3s ease;transition:opacity .3s ease;visibility:visible;display:block}
.project-markers{top:50%;position:fixed;right:5.75rem;width:1.35rem;z-index:9999;opacity:0;visibility:hidden;display:none;-webkit-transition:opacity .3s ease;transition:opacity .3s ease;}
.project-markers .marker{background-color:#fff;height:1.35rem;display:block;border-radius:50%;margin:.6rem 0;border:.3rem solid #555;}
.project-markers .marker.is-active{background-color:#555}
.project-markers .marker:hover{background-color:#fe9088;border:.3rem solid #fe9088}
.marker-link h4{font-size:20px;font-size:1.25rem;line-height:1;margin:0;padding:0;white-space:pre;text-align:center}
.marker-link:nth-child(1) .project-bubble{left:-5rem;top:-3.2rem}
.marker-link:nth-child(2) .project-bubble{left:-5rem;top:-5.25rem}
.marker-link:nth-child(3) .project-bubble{left:-5rem;top:-7.2rem}
.marker-link:nth-child(4) .project-bubble{left:-5rem;top:-9rem}
.marker-link:nth-child(5) .project-bubble{left:-5rem;top:-10.9rem}
.marker-link:nth-child(6) .project-bubble{left:-5rem;top:-12.75rem}
.marker-link:hover .project-bubble{opacity:1;-webkit-transition:opacity .3s ease;transition:opacity .3s ease;-webkit-animation:translateMarkers .2s ease 0s 1 normal forwards;animation:translateMarkers .2s ease 0s 1 normal forwards}
.project-bubble{background-color:#fff;color:#555;float:right;text-transform:uppercase;padding:1rem 1.5rem;position:relative;opacity:0;transition:opacity .1s ease;border:.3rem solid #555;}
.project-bubble:after{content:'';background:url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjIiIGJhc2VQcm9maWxlPSJ0aW55IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiAxNSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTS00LS41bDE1LjggNy45LTE1LjggOHoiLz48cGF0aCBzdHJva2U9IiM1NTUiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBmaWxsPSJub25lIiBkPSJNLTUuNy0xLjVsMTguMiA5TTEyLjYgNy41bC0xOC4zIDkiLz48L3N2Zz4=") no-repeat;background-size:1.5rem 1.2rem;height:1.5rem;width:1.2rem;position:absolute;right:0;-webkit-transform:translate(1.2rem,-1.1rem);transform:translate(1.2rem,-1.1rem)}
.show-large{display:block}
.show-small{display:none}
@media screen and (max-width: 768px){.show-large{display:none}
.show-small{display:block}
}@-moz-keyframes translateMarkers{0%{left:-5rem}
100%{left:-3rem}
}@-webkit-keyframes translateMarkers{0%{left:-5rem}
100%{left:-3rem}
}@-o-keyframes translateMarkers{0%{left:-5rem}
100%{left:-3rem}
}@-ms-keyframes translateMarkers{0%{left:-5rem}
100%{left:-3rem}
}@keyframes translateMarkers{0%{left:-5rem}
100%{left:-3rem}
}@-moz-keyframes translateProjectsLinkUp{0%{margin-top:0}
100%{margin-top:-5rem}
}@-webkit-keyframes translateProjectsLinkUp{0%{margin-top:0}
100%{margin-top:-5rem}
}@-o-keyframes translateProjectsLinkUp{0%{margin-top:0}
100%{margin-top:-5rem}
}@-ms-keyframes translateProjectsLinkUp{0%{margin-top:0}
100%{margin-top:-5rem}
}@keyframes translateProjectsLinkUp{0%{margin-top:0}
100%{margin-top:-5rem}
}@-moz-keyframes translateProjectsLinkDown{0%{margin-top:-5rem}
100%{margin-top:0}
}@-webkit-keyframes translateProjectsLinkDown{0%{margin-top:-5rem}
100%{margin-top:0}
}@-o-keyframes translateProjectsLinkDown{0%{margin-top:-5rem}
100%{margin-top:0}
}@-ms-keyframes translateProjectsLinkDown{0%{margin-top:-5rem}
100%{margin-top:0}
}@keyframes translateProjectsLinkDown{0%{margin-top:-5rem}
100%{margin-top:0}
}@-moz-keyframes rotate{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}@-webkit-keyframes rotate{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}@-o-keyframes rotate{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}@-ms-keyframes rotate{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}@keyframes rotate{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}